/* Shades */
* {
  box-sizing: border-box; }

html {
  font-size: 14px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Quattrocento", serif;
  font-size: 100%;
  line-height: 1.45; }

h1, h2, h3, h4, h5 {
  font-family: "Quattrocento Sans", sans-serif;
  line-height: 1.35; }

h1 {
  font-size: 2.0581rem; }

h2 {
  font-size: 1.618rem; }

h3 {
  font-size: 1.272rem; }

button {
  font-family: "Quattrocento Sans"; }

.svg-icon {
  max-width: 2rem;
  max-height: 2rem; }

@media screen and (min-width: 600px) {
  html {
    font-size: 16px; } }

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px; } }

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px; } }

.container {
  padding: 1rem; }

.layout4x2 {
  display: none;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(4, 1fr); }

.flexbox {
  display: flex;
  justify-content: flex-start; }

.feature-section {
  color: #f0f0f0; }

.hero, .feature-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 2rem);
  padding: 2rem; }

/* Hero component */
.hero {
  color: #f0f0f0;
  background-image: url(../media/happy-kid.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent; }
  .hero__body, .hero__header, .hero__footer {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .hero__body {
    flex: 1 0 80%; }
  .hero__header, .hero__footer {
    flex: 0 1 10%; }
  .hero__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.56); }

.gsap-test {
  color: #303030;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 2.64rem; }
  .gsap-test__heading {
    flex: 0 1 0; }
  .gsap-test .future {
    overflow: hidden; }
  .gsap-test__dots {
    padding-top: 4rem;
    padding-bottom: 2rem;
    flex: 1 1 100%;
    display: flex;
    flex-direction: row;
    z-index: 0; }
    .gsap-test__dots__dot {
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      margin-right: 1.5rem;
      flex: 0 1 auto;
      background-color: black; }
      .gsap-test__dots__dot:nth-child(1) {
        background-color: red; }
      .gsap-test__dots__dot:nth-child(2) {
        background-color: yellow; }
      .gsap-test__dots__dot:nth-child(3) {
        background-color: green; }
      .gsap-test__dots__dot:nth-child(4) {
        background-color: blue; }
    .gsap-test__dots-controllers {
      flex: 1 1 100%;
      width: 100%;
      z-index: 10; }
      .gsap-test__dots-controllers button {
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        background-color: #efefef;
        transition: background-color 500ms ease-out; }
        .gsap-test__dots-controllers button:hover {
          background-color: #5f5f5f;
          color: white; }

.gsap-test-svg {
  display: flex;
  flex-direction: column;
  padding-bottom: 2.64rem;
  height: 100vh; }
  .gsap-test-svg__svg {
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .gsap-test-svg__svg #ah-logo {
      flex: 0 1 60%;
      max-height: 80%; }

/*# sourceMappingURL=style.css.map */