/* Shades */
* {
  box-sizing: border-box; }

html {
  font-size: 1	4px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", serif;
  font-size: 100%;
  line-height: 1.45; }

h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.35;
  margin-top: 0;
  margin-bottom: 1.5rem; }

h1 {
  font-size: 2.0581rem; }

h2 {
  font-size: 1.618rem; }

h3 {
  font-size: 1.272rem; }

p, ul {
  margin-top: 0;
  margin-bottom: 1.5rem; }

.layout-1col p, .layout-1col ul, .layout-1col blockquote {
  max-width: 40rem; }

button {
  font-family: "Quattrocento Sans"; }

.svg-icon {
  max-width: 2rem;
  max-height: 2rem; }

.is-light-shade {
  background-color: #f6f6f6; }

.is-very-big-text {
  font-size: 6rem;
  font-weight: 300;
  line-height: 1; }

.is-intro-text {
  font-size: 1.1487rem; }

.feature-heading {
  margin-top: 0; }

img {
  width: 100%; }

.btn {
  margin-top: 1.5rem;
  padding: calc(0.75rem - 2px) 1.5rem calc(0.75rem + 2px) 1.5rem;
  line-height: 1;
  border-radius: 2rem;
  color: #000;
  background-color: #FFE000;
  text-decoration: none;
  transition: background-color 300ms ease-out; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #ffe633;
    text-decoration: underline; }
  .btn.btn--small {
    padding: calc(0.5rem - 2px) 1.25rem calc(0.5rem + 2px) 1.25rem;
    font-size: 1rem; }
  .btn.btn--red {
    color: #fff;
    background-color: #BD001C; }
    .btn.btn--red:hover, .btn.btn--red:active, .btn.btn--red:focus {
      background-color: #8a0014; }
  .btn.btn--white {
    color: #000;
    background-color: #fff; }
    .btn.btn--white:hover, .btn.btn--white:active, .btn.btn--white:focus {
      background-color: #e6e6e6; }

.arrow-btn {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .arrow-btn a {
    margin-right: 0.5rem;
    text-decoration: none; }
    .arrow-btn a:hover, .arrow-btn a:active, .arrow-btn a:focus {
      text-decoration: underline; }
  .arrow-btn.arrow-btn--white a {
    color: #fff; }
  .arrow-btn.arrow-btn--white .svg-icon {
    fill: #fff; }

@media screen and (min-width: 600px) {
  html {
    font-size: 16px; } }

@media screen and (min-width: 1200px) {
  html {
    font-size: 18px; } }

@media screen and (min-width: 1400px) {
  html {
    font-size: 20px; } }

iframe {
  border: none; }

[class*="embed-wrapper"] {
  position: relative; }
  [class*="embed-wrapper"] iframe, [class*="embed-wrapper"] embed, [class*="embed-wrapper"] video {
    position: absolute;
    top: 50%;
    left: calc(50%);
    transform: translate(calc(-50%), -50%);
    width: calc(100%);
    height: 100%;
    border: none; }

.an-post-map-embed iframe {
  width: 100%;
  height: 500px; }

.embed-wrapper-16x9 {
  padding-top: 56.25%; }

[class*="is-vertical-"] {
  display: flex;
  flex-direction: column; }

.is-vertical-centered {
  justify-content: center; }

.is-vertical-bottom {
  justify-content: flex-end; }

.has-secondary-background {
  background-color: #FFE000; }

/* Shades */
.flexbox {
  display: flex;
  justify-content: flex-start; }

[class*="column"] {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 1.5rem; }

@media screen and (min-width: 768px) {
  [class*="layout"] {
    display: grid;
    grid-template-rows: auto; }
  .layout-1col {
    grid-template-columns: repeat(1, 1fr); }
  .layout-2col, .layout-3col, .layout-4col {
    grid-template-columns: repeat(2, 1fr); }
  .layout-root2col {
    grid-template-columns: 0.414fr 1fr; } }

@media screen and (min-width: 1024px) {
  .layout-2col {
    grid-template-columns: repeat(2, 1fr); }
  .layout-3col {
    grid-template-columns: repeat(3, 1fr); }
  .layout-4col {
    grid-template-columns: repeat(4, 1fr); } }

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: calc(100vh - 2rem);
  padding: 2rem;
  background-color: #073763;
  color: #fff; }

/* Hero component */
.hero {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
  .hero__body, .hero__header, .hero__footer {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .hero__body {
    flex: 1 0 80%; }
  .hero__header, .hero__footer {
    flex: 0 1 10%; }
  .hero__image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.56); }

.container {
  padding: 4.5rem 0; }

.container-content {
  max-width: calc(88% - (1rem));
  margin-left: calc((100% - 88%)/2); }

.items-count .column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.hero {
  height: auto;
  justify-content: center;
  padding: 4.5rem 0; }
  .hero-content {
    display: flex;
    justify-content: center; }
  .hero__body__sjh-logo {
    margin-bottom: 0.75rem; }
  .hero__body__drs {
    font-weight: 200; }
  .hero__body__title, .hero__body__sub-title {
    margin-top: 0;
    margin-bottom: 0; }
  .hero__body__title {
    font-size: 2.639rem; }
  .hero__body__sub-title {
    font-weight: 200;
    font-size: 1.7411rem; }
  .hero__body {
    align-items: flex-start; }
    .hero__body img {
      flex: 1 1 auto;
      width: auto;
      min-width: 0; }
  .hero__cta {
    font-size: 1.3195rem;
    margin-bottom: 1.5rem; }

@media screen and (max-width: 767px) {
  .hero {
    min-height: 100vh; }
    .hero__body {
      margin-bottom: 1.5rem; } }

.ppe-thank-you__intro {
  margin-bottom: 2.25rem; }
  .ppe-thank-you__intro .column {
    margin-bottom: 0; }

.ppe-thank-you .is-intro-text:last-of-type {
  margin-bottom: 0; }

.ppe-thank-you hr {
  margin-bottom: 2.25rem;
  border-color: rgba(7, 55, 99, 0.8);
  border-width: 2px; }

.ppe-thank-you blockquote {
  position: relative;
  margin-left: 4rem;
  margin-bottom: 1.5rem;
  font-style: italic;
  font-size: 1.1487rem;
  line-height: 1.6; }
  .ppe-thank-you blockquote .svg-icon {
    position: absolute;
    left: -3.5rem;
    top: 0;
    max-width: 2.5rem;
    max-height: 2.5rem;
    padding: 0.5rem;
    background-color: #FFE000; }

.ppe-thank-you cite {
  font-size: 1rem; }

.ppe-delivery__sub-head {
  display: flex;
  align-items: center; }

.am-cp-posts {
  margin-top: 3rem; }
  @media screen and (min-width: 768px) {
    .am-cp-posts {
      margin-top: 0; } }

.am-cp-post__leader {
  max-width: 43.33333rem; }

.items-count {
  padding-top: 2.625rem;
  padding-bottom: 2.625rem;
  background-color: #FFE000;
  color: #000; }
  @media screen and (min-width: 768px) {
    .items-count .feature-heading {
      margin-bottom: 0; } }

.an-post-logo {
  max-width: 200px; }

footer {
  background-color: #BD001C; }

/*# sourceMappingURL=style.css.map */