@import 'project-globals'
$tablet: $med
.container
	&-content
		
.flexbox
	display: flex 
	justify-content: flex-start  
[class*="column"]
	padding-left: 	$gutter/2
	padding-right: 	$gutter/2
	margin-bottom: $vertical-unit
	

@media screen and (min-width: $tablet)
	[class*="layout"] 
		display: grid
		grid-template-rows: auto 
	
	.layout-1col
		grid-template-columns: repeat(1, 1fr)
	.layout-2col, .layout-3col, .layout-4col
		grid-template-columns: repeat(2, 1fr)
	.layout-root2col
		grid-template-columns: 0.414fr 1fr
@media screen and (min-width: $large)
	.layout-2col
		grid-template-columns: repeat(2, 1fr)
	.layout-3col
		grid-template-columns: repeat(3, 1fr)
	.layout-4col
		grid-template-columns: repeat(4, 1fr)